.recharts-cartesian-axis-line {
  visibility: hidden!important;
}

.xAxis .recharts-cartesian-axis-ticks {
  transform: translate(19px,13px);
}

.recharts-cartesian-axis-tick-line {
  visibility: hidden!important;
}

.recharts-legend-item {
  display: flex!important;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #424242;
  min-width: 240px;
}

.recharts-tooltip-wrapper .recharts-default-tooltip {
  border: none!important;
  background-color: rgba(0, 0, 0, 0.88)!important;
  display: flex!important;
  align-items: center!important;
  flex-direction: row-reverse!important;
  border-radius: 8px;
}

.recharts-tooltip-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.64);
  margin-left: 24px!important;
}

.ui-chart {
  position: relative;
}
.ui-chart-tooltip {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}