/*fonts*/

@font-face {
  font-family: 'TTInterfaces-Regular';
  font-weight: 400;
  src: local('TTInterfaces-Regular'), url(fonts/TTInterfaces-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'TTInterfaces-SemiBold';
  font-weight: 600;
  src: local('TTInterfaces-SemiBold'), url(fonts/TTInterfaces-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'TTInterfaces-Bold';
  font-weight: 900;
  src: local('TTInterfaces-Bold'), url(fonts/TTInterfaces-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'TTInterfaces-Medium';
  font-weight: 500;
  src: local('TTInterfaces-Medium'), url(fonts/TTInterfaces-Medium.ttf) format('opentype');
}