/*fonts*/

@font-face {
  font-family: 'Regular';
  font-weight: 400;
  src: local('Regular'), url(fonts/TTInterfaces-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'SemiBold';
  font-weight: 600;
  src: local('SemiBold'), url(fonts/TTInterfaces-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Bold';
  font-weight: 900;
  src: local('Bold'), url(fonts/TTInterfaces-Bold.ttf) format('opentype');
}