
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'TTInterfaces-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main_container {
  margin-left: 280px;
  padding: 64px;
  background-color: #121212;
  min-height: 100vh;
}
