
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'TTInterfaces-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background-color: #121212;
}

.main_container {
  margin-left: 280px;
  padding: 64px;
  background-color: #121212;
  min-height: 100vh;
}

.admin_container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1300px) {
  .main_container {
    padding: 30px;
  }
}

@media (max-width: 1199px) {
  .main_container {
    margin-left: 250px;
  }
}

@media (max-width: 900px) {
  .main_container {
    margin-left: 0;
    padding-top: 85px;
  }
}
@media (max-width: 600px) {
  .main_container {
    padding: 8px;
    padding-top: 75px;
  }
}
