@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.bg-grey {
  background-color: #f7f7f7;
  padding: 50px 0;
  min-height: calc(100vh - 90px);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}