.recharts-cartesian-axis-line {
  visibility: hidden!important;
}

.xAxis .recharts-cartesian-axis-ticks {
  transform: translate(19px,13px);
}

.recharts-cartesian-axis-tick-line {
  visibility: hidden!important;
}

.recharts-legend-item {
  display: flex!important;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #424242;
  min-width: 240px;
}